/*-- scss:defaults --*/
$body-bg: #000d19;
$body-color: #d6dee6;
$primary: #3dc0e9;
$link-color: #3dc0e9;
$link-hover-color: #7fd4f0;
$headings-color: #7fb3dc;
$code-color: #3dc0e9;
$ipn-blue-pale: #0b2440;
$ipn-blue: #7fb3dc;
